.App {
  text-align: center;
}
div{
  border: 1px solid black;
}
.Index{
 height: 100vh;
 display: flex;
 flex-direction: column;
}
.Header{
  height: 20%;
}
.Body{
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Content{
  height: 40%;
  width: 400px;
  margin: auto;
}
.Footer{
  height: 10%;
}