.App {
  text-align: center;

}

.Index{
 height: 100vh;
 display: flex;
 flex-direction: column;
 text-align: center;
}
.Header{
  height: 20%;
}
.Body{
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}
.Content{
  height: 40%;
  width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  
}
.Footer{
  height: 10%;
}