
.App {
  text-align: center;
}


.ShowContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.ShowContent {
  background-color: bisque;
  width: 50%;
}
.ShowVideo {
  background-color: blue;
  width: 50%;
}
.ShowVideoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  height: 60%;
}
.VideoPlayer {
  height: 100%;
  width: 100%;
}
.SuggestedContent {
  display: flex;
  width: 100%;
  height: 40%;
  background-color: rgb(255, 157, 0);
  justify-content:space-around;
}
 .indexContainer{
  display: flex;
  height: auto;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(./chalkboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
} 
.lesson1{
  border-radius: 15px;
  height: 29rem;
  width: 29rem;
  margin: auto;
  margin-top: 25px;
  margin-bottom:25px ;
  background-color: rgb(0, 0, 0);
  border: #949494 4px solid;
  
 
}

.lesson1:hover{
  transform: scale(1.1);
}

.Content {
  height: 40%;
  width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}
.Footer {
  background-image: url(./wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 height: 5rem;
 margin-top: -20px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.openTab {
  background: rgb(222, 78, 78);
  border-bottom: 1px solid transparent;
}
button {
  border: none;
}
.content-tabs {
  height: 100%;
}
.content {
  background: rgb(222, 78, 78);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.openContent {
  display: block;
}

.thumbnail{
  width: 100%;
  
}
.thumbTitle{
  height: 15%;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  line-height: 30px;
  /* font-family: 'Rubik Dirt', cursive; */
  /* background-color: aqua; */
}
.banner{
  display: flex;
  flex-direction: row;
  height: 80%;
  background-color: chocolate;
}
.bannerL{
  display: flex;
  height: 30rem;
width: 50%;
background-image: url(./chalkboard.jpg);
border-right:  #949494 2.5px solid;
background-repeat: no-repeat;
  background-size: cover;
align-items: center;
justify-content: center;
  font-size: 5rem;
  color: white;
  
  font-family: 'Fredericka the Great', cursive;
  flex-direction: column;
  line-height: 2px;
  
}
.bannerR{
  background-image: url(./chalkboard.jpg);
  width: 50%;
  
  border-left: #949494 2.5px solid;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-image: url(./wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.nav a{
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-family: 'Fredericka the Great', cursive;
}
.Wood{
  height: 5rem;
  background-image: url(./wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.NewBtn{
  border-radius: 15px;
  height: 29rem;
  width: 29rem;
  margin: auto;
  margin-top: 25px;
  margin-bottom:25px ;
  background-image: url(./plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  text-decoration: none;
}

.NewBtn:hover{

  transform: scale(1.1);


}